h2 {
  color: hsl(212, 56%, 16%);
}

.favorites {
  margin-bottom: 1em;
}

.column {
  background-color: hsl(210, 32%, 93%);
}

.card-footer-item {
  background-color: hsl(210, 38%, 97%);
}

.content-rectangle {
  height: 9rem;
}

.crossButton {
  color: darkred;
}

.crossButton:hover {
  color: red;
}

.fave,
.fave:hover,
.fave:active,
.fave:focus,
.fave:focus-visible,
.fave:focus-within,
.fave:target {
  color: red;
}